<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-tabs>  
      <ion-tab-bar slot="top" color="secondary">  
        <ion-tab-button tab="speakers">  
          <ion-label>Home</ion-label>  
        </ion-tab-button>  
          
        <ion-tab-button tab="map">  
          <ion-label>Contact</ion-label>  
        </ion-tab-button>  
          
        <ion-tab-button tab="about">  
          <ion-label>About</ion-label>  
        </ion-tab-button> <ion-icon name="cart" class="cart-icon" item-right></ion-icon> 
      </ion-tab-bar>  
    </ion-tabs> 
  </ion-toolbar>
  
</ion-header> <br><br>

<ion-content>
  <div class="ion-text-center">
    <h3>HP Laptops</h3>
  </div>


  <ion-grid>
    <ion-row>
      <ion-col size=1></ion-col>
      <ion-col size=3.3><button ion-button (click)="a()" expand="block">
        <img src="../assets/laptop/n.png"><div><ion-button>  
          BuY Now  
          <ion-icon slot="end" name="star" color="secondary"></ion-icon>  
      </ion-button></div>  <h4>HP</h4> </button> 
      </ion-col>
      <ion-col size=3.3><button ion-button (click)="b()" expand="block">
        <img src="../assets/laptop/n1.png"><div><ion-button>  
          Buy Now  
          <ion-icon slot="end" name="star" color="secondary"></ion-icon>  
      </ion-button></div> <h4>HP yuoga</h4> </button>
      </ion-col>
      <ion-col size=3.3><button ion-button (click)="c()" expand="block">
        <img src="../assets/laptop/n7.png"><div><ion-button>  
          BuY Now  
          <ion-icon slot="end" name="star" color="secondary"></ion-icon>  
      </ion-button></div><h4>HP Note</h4>  </button>
      </ion-col>
      
    </ion-row>
</ion-grid><br><br>
<div class="ion-text-center">
  <h3>Lenovo Laptops</h3>
</div>
<ion-grid>
  <ion-row>
    <ion-col size=1></ion-col>
      <ion-col size=3.3><button ion-button (click)="d()" expand="block">
        <img src="../assets/laptop/n6.jpeg"><div><ion-button>  
          BuY Now  
          <ion-icon slot="end" name="star" color="success"></ion-icon>  
      </ion-button></div>  <h4>Lenovo I</h4> </button> 
      </ion-col>
      <ion-col size=3.3><button ion-button (click)="e()" expand="block">
        <img src="../assets/laptop/n.png"><div><ion-button>  
          BuY Now  
          <ion-icon slot="end" name="star" color="success"></ion-icon>  
      </ion-button></div>  <h4>Lenovo II</h4></button>
      </ion-col>
      <ion-col size=3.3><button ion-button (click)="f()" expand="block">
        <img src="../assets/laptop/n6.jpeg"><div><ion-button>  
          BuY Now  
          <ion-icon slot="end" name="star" color="success"></ion-icon>  
      </ion-button></div>  <h4>Lenovo III</h4></button>
      </ion-col>
    
  </ion-row>
</ion-grid><br><br>
<div class="ion-text-center">
  <h3>Dell Laptops</h3>
</div>

<ion-grid>
  <ion-row>
    <ion-col size=1></ion-col>
      <ion-col size=3.3><button ion-button (click)="g()" expand="block">
        <img src="../assets/laptop/n5.jpg"><div><ion-button>  
          BuY Now  
          <ion-icon slot="end" name="star" color="warning"></ion-icon>  
      </ion-button></div> <h4>DELL 1</h4></button> 
      </ion-col>
      <ion-col size=3.3><button ion-button (click)="h()" expand="block">
        <img src="../assets/laptop/nn.jpg"><div><ion-button>  
          BuY Now  
          <ion-icon slot="end" name="star" color="warning"></ion-icon>  
      </ion-button></div> <h4>DELL 2</h4></button>
      </ion-col>
      <ion-col size=3.3><button ion-button (click)="i()" expand="block">
        <img src="../assets/laptop/n5.jpg"><div><ion-button>  
          BuY Now  
          <ion-icon slot="end" name="star" color="warning"></ion-icon>  
      </ion-button></div> <h4>DELL 3</h4></button>
      </ion-col>
    
  </ion-row>
</ion-grid><br><br>
<div class="ion-text-center">
  <h3>Azus Laptops</h3>
</div>
<ion-grid>
  <ion-row>
    <ion-col size=1></ion-col>
      <ion-col size=3.3><button ion-button (click)="j()" expand="block">
        <img src="../assets/laptop/n1.png"><div><ion-button>  
          BuY Now  
          <ion-icon slot="end" name="star" color="success"></ion-icon>  
      </ion-button></div>  <h4>AZUS 1</h4></button> 
      </ion-col>
      <ion-col size=3.3><button ion-button (click)="k()" expand="block">
        <img src="../assets/laptop/n7.png"><div><ion-button>  
          BuY Now  
          <ion-icon slot="end" name="star" color="success"></ion-icon>  
      </ion-button></div>  <h4>AZUS 2</h4></button>
      </ion-col>
      <ion-col size=3.3><button ion-button (click)="l()" expand="block">
        <img src="../assets/laptop/n.png"><div><ion-button>  
          BuY Now  
          <ion-icon slot="end" name="star" color="success"></ion-icon>  
      </ion-button></div>  <h4>AZUS 3</h4></button>
      </ion-col>
    
  </ion-row>
</ion-grid><br><br>
<div class="bar bar-footer bar-balanced" style="background-color: rgb(177, 187, 187); height: 150px;">
  <div class="title">Footer</div>
</div>

</ion-content>
